doctype html
    html(lang="pt-br")
        - var nome = 'Curso Front-End';
        - var txt = false;
        head
            title=nome
        body
            if txt
                header.
                    dvjvfdsfvsdfvf #{nome} disfsasi
            else
                div Nao TXT
